.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(153deg, var(--burple-two), #a45deb 100%);
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    object-fit: contain;
  }
}

.menu {
  padding: 26px 30px;

  input,
  button {
    border-radius: 20px;
    width: 100%;
    border: none;
    text-align: center;
  }

  input {
    padding: 13px;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--blue-gray-500);
    font-size: 12px;
    letter-spacing: 0.43px;
    margin-bottom: 15px;

    &:focus::placeholder {
      color: transparent;
    }

    &::placeholder {
      text-align: center;
    }
  }

  button {
    background-color: var(--white-20);
    color: var(--white);
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 13px;
  }
}
