:root {
  --burple: #7b34dd;
  --green-700: #15803d;
  --blue-gray-500: #64748b;
  --dark-90: rgba(28, 28, 45, 0.9);
  --burple-two: #712bda;
  --white-20: rgba(255, 255, 255, 0.2);
  --pale-grey: #f8fafc;
  --indigo-100: #e0e7ff;
  --white: #fff;
  --blue-gray-200: #e2e8f0;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  padding: 0;
}

.fullwidth {
  width: 100%;
}

#root {
  min-height: 100vh;
  margin: auto;
}
